@import url(todoui.css);


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   position: relative;
   scrollbar-gutter: stable;
}

html,
body {
   width: 100%;
   height: 100%;
   color: rgb(51, 51, 51);
   font-family: monospace;
}

input {
   font-family: monospace;
   color: rgb(51, 51, 51);
}


::-webkit-scrollbar {
   width: 10px;
   height: 100%;
}

::-webkit-scrollbar-track {
   background: #ffffff;
   border-radius: 10px;
}

::-webkit-scrollbar-thumb {
   background: #888;
   border-radius: 10px;
   border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
   background: #555;
}



#app-root {
   padding: 10px 0;
   display: flex;
   gap: 20px;
   flex-direction: column;
   align-items: center;
   width: 100%;
   height: 100%;
}

#todo-form {
   width: inherit;
}

#todo-input {
   width: 40%;
   display: block;
   margin: auto;
   padding: 4px 5px 5px;
   font-size: 20px;
}

#todo-list {
   display: flex;
   flex-direction: column;
   gap: 10px;
   align-items: center;
   width: inherit;
   height: 90%;
   overflow: auto;
}