* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body {
   width: 100%;
   height: 100%;
   font-family: 'Courier New', Courier, monospace;
}
body {
   background-color: #0b0c11;
   color: aliceblue;
}

.completed {
    text-decoration: line-through; /* This makes the text strike through */
    opacity: 0.6; /* Optionally makes it slightly faded */
}

#new-todo{
   padding: 5px 10px;
   background-color: #01a16c;
   border: 1px solid #ff8827;
   font-size: 14px;
   cursor: pointer;
   display: inline-block;
   user-select: none;
}
#add-toDo:hover {
   opacity: 0.7;
}