@import url(todoui.css);


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   position: relative;
   scrollbar-gutter: stable;
}

html,
body {
   width: 100%;
   height: 100%;
   color: rgb(51, 51, 51);
   font-family: monospace;
}

input {
   font-family: monospace;
   color: rgb(51, 51, 51);
}


::-webkit-scrollbar {
   width: 10px;
   height: 100%;
}

::-webkit-scrollbar-track {
   background: #ffffff;
   border-radius: 10px;
}

::-webkit-scrollbar-thumb {
   background: #888;
   border-radius: 10px;
   border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
   background: #555;
}



#app-root {
   display: flex;
   width: 100%;
   height: 100%;
}

.left-section {
   padding: 20px 0;
   /* border: 1px solid red; */
   padding: 0 40px;
   background-color: #24334727;

}

.left-section h1 {
   margin-top: 130px;
}

.right-section {
   padding: 50px 0 10px 0;
   /* border: 1px solid blue; */
   flex: 1;
}

.form-wrap {
   display: flex;
   justify-content: center;
   gap: 2px;
}
#submit {
   border: 1px solid #888;
   background-color: transparent;
   border-radius: 0;
   padding: 0 10px;
}

#todo-input {
   width: 70%;
   padding: 4px 5px 5px;
   font-size: 20px;
   border-radius: 0;
   border: 1px solid #888;
   outline: none;
}

#todo-list {
   display: flex;
   flex-direction: column;
   gap: 10px;
   align-items: center;
   width: inherit;
   height: 90%;
   overflow: auto;
}